.register-container{
    margin:0 auto;
    width: 50%;
}
.register input:not([type='checkbox']){
   display: block;
   width: 100%;
   padding:10px; 
   margin-bottom: 10px;
   border:1px solid lightgrey;
   border-radius:5px;
   outline:none
}
.register-btn{
    border:none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}