.service-container{
    border:1px solid gray;
    border-radius:10px;
    padding:10px;
}
.service-container button{
    border:none;
    padding:10px;
    border-radius: 10px;
    display:flex;
    justify-content:center;
}